src/main/mule/testing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="44c4ab56-7307-404a-8099-d74ef486d9cf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="91578ea7-d056-439f-86cc-2219c93d957d" >
		<http:request-connection host="marine-pro-api.us-e2.cloudhub.io" port="80"/>
	</http:request-config>
	<flow name="testingFlow" doc:id="30173d83-a8d2-4b25-ac18-06ac93c7ff79" >
		<http:listener doc:name="Listener" doc:id="c823a658-6aa3-424d-8191-91e30ad2b3fd" config-ref="HTTP_Listener_config" path="test" outputMimeType="application/java"/>
		<http:request method="GET" doc:name="Request" doc:id="5dcb0fd6-a78b-4f13-a6db-b04072f73e74" config-ref="HTTP_Request_configuration" path="/api/MemberGetAccountTest/{accountNumber}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountNumber" : attributes.queryParams.accountNumber
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="71ca56bd-d462-4e53-a8fd-046dc7d0ec6e" message="#[payload]"/>
	</flow>
</mule>
